@model IEnumerable<DTCMCC_WebApp_Sam.Models.Cuti>
@{
}
@{
    ViewData["Title"] = "Admin Panel";
}
<h1>Admin Panel</h1>

<p>
    <a asp-action="Register">Tambah Data Karyawan</a>
</p>

<h2>Data Pengajuan Cuti</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Staff.FullName)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.LamaCuti)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
      <th scope="col"> Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Staff.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.LamaCuti)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td> @Html.ActionLink("Approve", "Approve", new {  id=item.Id }) |
                @Html.ActionLink("Decline", "Decline", new {  id=item.Id  })</td>
            </tr>
        }
  </tbody>
</table>
